<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}" th:fragment="icon">
<!-- Pignose Calender -->
<link th:href="@{/plugins/pg-calendar/css/pignose.calendar.min.css}" rel="stylesheet" th:fragment="calender">
<!-- Chartist -->
<link rel="stylesheet" th:href="@{/plugins/chartist/css/chartist.min.css}" th:fragment="chartist">
<link rel="stylesheet" th:href="@{/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}" th:fragment="chartist">
<!-- Custom Stylesheet -->
<link th:href="@{/plugins/jquery-steps/css/jquery.steps.css}" rel="stylesheet" th:fragment="steps" >
<link th:href="@{/css/style.css}" rel="stylesheet" th:fragment="style" >
<!-- datatable -->
<link th:href="@{/plugins/tables/css/datatable/dataTables.bootstrap4.min.css}" rel="stylesheet" th:fragment="datatable" >
<!--sweetalert-->
<link th:href="@{/plugins/sweetalert/css/sweetalert.css}" rel="stylesheet" th:fragment="sweetalert" >
<!--Date Picker-->
<link th:href="@{/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" th:fragment="datePicker" >
<link th:href="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet" th:fragment="datePicker" >
<link th:href="@{/plugins/timepicker/bootstrap-timepicker.min.css}" rel="stylesheet" th:fragment="datePicker" >
<link th:href="@{/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet" th:fragment="datePicker" >