<script th:src="@{/plugins/common/common.min.js}" th:fragment="common"></script>
<script th:src="@{/js/custom.min.js}" th:fragment="common"></script>
<script th:src="@{/js/settings.js}" th:fragment="common"></script>
<script th:src="@{/js/gleek.js}" th:fragment="common"></script>
<script th:src="@{/js/styleSwitcher.js}" th:fragment="common"></script>
<script th:src="@{/js/jquery.serializejson.js}" th:fragment="common"></script>
<!-- Chartjs -->
<script th:src="@{/plugins/chart.js/Chart.bundle.min.js}" th:fragment="chart"></script>
<!-- Circle progress -->
<script th:src="@{/plugins/circle-progress/circle-progress.min.js}" th:fragment="circleProgress"></script>
<!-- Datamap -->
<script th:src="@{/plugins/d3v3/index.js}" th:fragment="datamap"></script>
<script th:src="@{/plugins/topojson/topojson.min.js}" th:fragment="datamap"></script>
<script th:src="@{/plugins/datamaps/datamaps.world.min.js}" th:fragment="datamap"></script>
<!-- Morrisjs -->
<script th:src="@{/plugins/raphael/raphael.min.js}" th:fragment="morris"></script>
<script th:src="@{/plugins/morris/morris.min.js}" th:fragment="morris"></script>
<!-- Pignose Calender -->
<script th:src="@{/plugins/moment/moment.min.js}" th:fragment="calender"></script>
<script th:src="@{/plugins/pg-calendar/js/pignose.calendar.min.js}" th:fragment="calender"></script>
<!-- ChartistJS -->
<script th:src="@{/plugins/chartist/js/chartist.min.js}" th:fragment="chartist"></script>
<script th:src="@{/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}" th:fragment="chartist"></script>
<script th:src="@{/js/dashboard/dashboard-1.js}" th:fragment="chartist"></script>
<!--step-->
<script th:src="@{/plugins/jquery-steps/build/jquery.steps.min.js}" th:fragment="steps"></script>
<script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}" th:fragment="steps"></script>
<script th:src="@{/js/plugins-init/jquery-steps-init.js}"  th:fragment="steps"></script>
<!--dashboard-->
<script th:src="@{/js/dashboard/dashboard-1.js}" th:fragment="dashboard"></script>
<!--dataTables-->
<script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}" th:fragment="dataTables"></script>
<script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}" th:fragment="dataTables"></script>
<script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}" th:fragment="dataTables"></script>
<!--sweetalert-->
<script th:src="@{/plugins/sweetalert/js/sweetalert.min.js}" th:fragment="sweetalert"></script>
<script th:src="@{/plugins/sweetalert/js/sweetalert.init.js}" th:fragment="sweetalert"></script>
<!--validate-->
<script th:src="@{/plugins/validation/jquery.validate.min.js}" th:fragment="validate"></script>
<script th:src="@{/plugins/validation/jquery.validate-init.js}" th:fragment="validate"></script>
<!--Date Picker-->
<script th:src="@{/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}" th:fragment="datePicker"></script>
<script th:src="@{/plugins/clockpicker/dist/jquery-clockpicker.min.js}" th:fragment="datePicker"></script>

<script th:src="@{/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js}" th:fragment="datePicker"></script>
<script th:src="@{/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js}" th:fragment="datePicker"></script>
<script th:src="@{/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js}" th:fragment="datePicker"></script>

<script th:src="@{/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}" th:fragment="datePicker"></script>
<script th:src="@{/plugins/timepicker/bootstrap-timepicker.min.js}" th:fragment="datePicker"></script>
<script th:src="@{/plugins/bootstrap-daterangepicker/daterangepicker.js}" th:fragment="datePicker"></script>
<script th:src="@{/js/plugins-init/form-pickers-init.js}" th:fragment="datePicker"></script>
